
@font-face {
    font-family: 'textmain';
    src: url('./assets/ksemibold.ttf');
}
@font-face {
    font-family: 'texttitle';
    src: url('./assets/oshigo.otf');
}
@font-face {
    font-family: 'textName';
    src: url('./assets/kextrabold.ttf');
}
@font-face {
    font-family: 'textNum';
    src: url('./assets/kbold.ttf');
}
@font-face {
    font-family: 'textGame';
    src: url('./assets/Stick-Regular.ttf');
}

:root{
    --vh: 0;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    font-size: 2.0vh;
}
img {
    pointer-events: none; /* マウス操作を無効化 */
    user-select: none; /* テキストや画像の選択を無効化 */
}
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    cursor: pointer; 
    outline: none;
    &:focus {
       box-shadow: 0 0 3px rgb(0, 0, 0);
    }
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: gray;
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    border: solid 2px white;
}

.canvasParent {
    pointer-events: none;
    padding: 0;
    background: none;
    height: var(--vh);
    width: var(--vw);
    position: fixed;
}
 
.canvasChild {
    pointer-events: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0;
}
.imgPixelated {
    image-rendering: pixelated;
    image-rendering: -moz-pixelated;
    image-rendering: -webkit-pixelated;
    image-rendering: -o-pixelated;
    image-rendering: -ms-pixelated;
}

.screenPriorityWidth {
    width: 90%;
    height: auto; 
}
.screenPriorityHeight {
    width: auto; 
    height: 90%; 
}

unselectable {
    user-select: none;
}

.unselectable::selection {
    background: none;
}

.unselectable::-moz-selection {
    background: none;
}

.select_moji {
    color: white;
    font-size: 0.8em;
}
.select_option {
    /*color: white;*/
    position: relative;
    top: 0%;
    left: 5%;
    font-size: 0.8em;
}
.select_option_add {
    /*color: white;*/
    position: relative;
    top: 0%;
    left: 1%;
    font-size: 0.8em;
}


.ui_button_0 {
    color: white;
    background-color: gray;
    border: outset 2px white;
}

    .ui_button_0:active {
        color: gray;
        background-color: white;
        border: outset 2px white;
    }
.ui_button_danger_0 {
    color: white;
    background-color: red;
    border: outset 2px indianred;
}

    .ui_button_danger_0:active {
        color: white;
        background-color: orangered;
        border: outset 2px white;
    }


.ui_select_0 {
    color: white;
    background-color: darkslategray;
    border: outset 2px white;
}

.ui_textarea_0 {
    color: white;
    background-color: gray;
    border: dashed 2px white;
}


.tab-switchMain {
    white-space: nowrap; /* 改行を禁止する */
    padding: .5em 0.5em; /* 上下左右の内側余白 */

    font-family: textName;
    display: flex; /* タブを横並びに */

    flex-wrap: wrap; /* 幅に応じて折り返し */
    margin: auto; /* コンテナの中央寄せ */
    justify-content: center; /* タブの中央寄せ */
    gap: 12px; /* タブ間の余白 */
}

    /* 各タブボタンの設定 */
    .tab-switchMain > label {
        flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
        /*order: -1;*/ /* 上部に表示する */
        position: absolute; /* 絶対位置指定用の基準 */
        text-align: center; /* 文字を中央揃え */
        cursor: pointer; /* ポインターを指アイコンに変更 */
        padding: 5px;
        font-family: textName;
        border: 9px solid rgb(240, 240, 240, 1);
        border-radius: 45px; /* 角の丸み */
    }
/* 各タブボタンの設定 */
    .tab-switchMain > label {
        flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
        /*order: -1;*/ /* 上部に表示する */
        position: relative; /* 絶対位置指定用の基準 */
        padding: .5em 0.5em; /* 上下左右の内側余白 */
        /*background-color: rgb(250, 200, 30, 1);*/ /* 背景色 */
        background: url('./assets/img/circlen/starback.png') repeat center center;
        background-blend-mode: overlay; /* 混ぜ合わせのモード */

        background-size: 300% auto;
        color: rgb(240, 240, 240, 0.9); /* 文字色 */
        text-align: center; /* 文字を中央揃え */
        cursor: pointer; /* ポインターを指アイコンに変更 */

        text-shadow: 
            +3px +0px 0px rgb(30, 120, 240, 1), 
            -3px +0px 0px rgb(30, 120, 240, 1), 
            +0px +3px 0px rgb(30, 120, 240, 1),
            +0px -3px 0px rgb(30, 120, 240, 1),
            +3px +3px 0px rgb(30, 120, 240, 1), 
            -3px +3px 0px rgb(30, 120, 240, 1),
            +3px -3px 0px rgb(30, 120, 240, 1),
            -3px -3px 0px rgb(30, 120, 240, 1);
        border-radius: 45px; /* 角の丸み */
    }
        .tab-switchMain > label::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -4px;
            bottom: -4px;
            left: -4px;
            right: -4px;
            border: 6px solid rgb(30, 120, 240, 1);
            border-radius: 45px; /* 角の丸み */
        }

@keyframes tabSwitchMainIn_Pos {
    0% {
        transform: translateY(-8%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(-8%);
    }
}
@keyframes tabSwitchMainIn_BgScroll {
    0% {
        background-position: 0 0;
        /*        background-position-x: 0%;
        background-position-y: 0%;*/
    }
    100% {
        background-position: -1980px 1080px;
        /*        background-position-x: 60%;
        background-position-y: -60%;*/
    }
}
    /* タブボタンのホバーおよび選択状態のスタイル */
.tab-switchMain > label:hover,
.tab-switchMain label:has(:checked) {
    /*background-color: rgb(250, 250, 130, 1);*/ /* 背景色 */
    background-color: rgb(160, 160, 10, 1); /* 背景色 */
    /*color: rgb(60, 40, 0, 0.9);*/ /* 文字色 */
}
.tab-switchMain > label:hover,
.tab-switchMain label:has(:checked) {
    animation: 
        tabSwitchMainIn_Pos 3s ease-in-out infinite,
        tabSwitchMainIn_BgScroll 30s linear infinite
        ;
}

/* ラジオボタン自体は非表示 */
.tab-switchMain input {
    display: none; /* 見た目に表示されないようにする */
}

/* タブコンテンツのスタイル */
.tab-switchMain > div {
    position: absolute; /* 絶対位置指定用の基準 */
    display: none; /* 初期状態では非表示 */
    width: 100%; /* コンテンツ幅を全体に */
    padding: 3em 1em; /* 内側余白 */
}

/* 選択されたタブのコンテンツを表示 */
.tab-switchMain label:has(:checked) + div {
    display: block; /* 選択されたタブに対応するコンテンツを表示 */
}
.tab-switchMain label button {
    all: unset; /* デフォルトスタイルをリセット */
}






/* タブ全体を囲むコンテナの設定 */
.tab-switchSub {
    white-space: nowrap; /* 改行を禁止する */

    font-family: textGame;
    /*display: flex; */

    display: flow; /* タブを横並びに */

    flex-wrap: wrap; /* 幅に応じて折り返し */
    margin: auto; /* コンテナの中央寄せ */
    justify-content: center; /* タブの中央寄せ */
    gap: 5px; /* タブ間の余白 */
}

    /* 各タブボタンの設定 */
/*.tab-switchSub > label {
    flex: 1 1 auto;*/ /* タブが均等に幅をとるが、幅を超えると折り返す */
    /*order: -1;*/ /* 上部に表示する */
    /*position: absolute;*/ /* 絶対位置指定用の基準 */
    /*padding: .7em 1em;*/ /* 上下左右の内側余白 */
    /*background-color: #f2f3f4;*/ /* 背景色 */
    /*color: #999;*/ /* 文字色 */
    /*text-align: center;*/ /* 文字を中央揃え */
    /*cursor: pointer;*/ /* ポインターを指アイコンに変更 */

    /*border-radius: 45px;*/ /* 角の丸み */
/*}*/
    /* 各タブボタンの設定 */
    .tab-switchSub > label {
        flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
        order: -1; /* 上部に表示する */
        position: absolute; /* 絶対位置指定用の基準 */
        /*padding: .5em 1em;*/ /* 上下左右の内側余白 */
        padding: .1em 0.5em; /* 上下左右の内側余白 */
        /*background-color: rgb(250, 200, 30, 1);*/ /* 背景色 */
        background: url('./assets/img/circlen/starback_2.png') repeat center center;
        background-blend-mode: overlay; /* 混ぜ合わせのモード */

        background-size: 300% auto;
        font-weight: 900;
        /*color: rgb(240, 240, 240, 0.9);*/ /* 文字色 */
        color: rgb(50, 50, 60, 1); /* 文字色 */
        text-align: center; /* 文字を中央揃え */
        cursor: pointer; /* ポインターを指アイコンに変更 */

        text-shadow: +3px +0.0px 0px rgb(240, 240, 240, 1.0), -3px +0.0px 0px rgb(240, 240, 240, 1.0), +0.0px +3px 0px rgb(240, 240, 240, 1.0), +0.0px -3px 0px rgb(240, 240, 240, 1.0), +3px +3px 0px rgb(240, 240, 240, 1.0), -3px +3px 0px rgb(240, 240, 240, 1.0), +3px -3px 0px rgb(240, 240, 240, 1.0), -3px -3px 0px rgb(240, 240, 240, 1.0);
        border: 6px solid rgb(240, 240, 240, 1);
        border-radius: 45px; /* 角の丸み */
    }

        .tab-switchSub > label::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -4px;
            bottom: -4px;
            left: -4px;
            right: -4px;
            border: 3px solid rgb(50, 50, 60, 1);
            border-radius: 45px; /* 角の丸み */
        }

/* タブボタンのホバーおよび選択状態のスタイル */
.tab-switchSub > label:hover,
/*.tab-switchSub label:has(:checked) {
background-color: #757F96;*/ /* ホバー/選択時の背景色 */
/*color: #fff;*/ /* ホバー/選択時の文字色 */
/*}*/
.tab-switchSub label:has(:checked) {
    /*background-color: rgb(250, 250, 130, 1);*/ /* 背景色 */
    background-color: rgb(160, 160, 160, 1); /* 背景色 */
    /*color: rgb(60, 40, 0, 0.9);*/ /* 文字色 */
}
@keyframes tabSwitchSubIn_Pos {
    0% {
        transform: translateX(4%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(4%);
    }
}

@keyframes tabSwitchSubIn_BgScroll {
    0% {
        background-position: 0 0;
        /*        background-position-x: 0%;
        background-position-y: 0%;*/
    }

    100% {
        background-position: -1980px 1080px;
        /*        background-position-x: 60%;
        background-position-y: -60%;*/
    }
}

.tab-switchSub label:has(:checked) {
    animation: tabSwitchSubIn_Pos 3s ease-in-out infinite, tabSwitchSubIn_BgScroll 30s linear infinite;
}

    /* ラジオボタン自体は非表示 */
.tab-switchSub input {
    display: none; /* 見た目に表示されないようにする */
}

    /* タブコンテンツのスタイル */
.tab-switchSub > div {
    position: absolute; /* 絶対位置指定用の基準 */
    display: none; /* 初期状態では非表示 */
    width: 100%; /* コンテンツ幅を全体に */
    padding: 3em 1em; /* 内側余白 */
}

    /* 選択されたタブのコンテンツを表示 */
    .tab-switchSub label:has(:checked) + div {
        display: block; /* 選択されたタブに対応するコンテンツを表示 */
    }




/* タブ全体を囲むコンテナの設定 */
.tab-switchSub2 {
    white-space: nowrap; /* 改行を禁止する */
    font-size: 2.2vw;
    font-family: textGame;
    display: flex;
    flex-wrap: wrap; /* 幅に応じて折り返し */
    margin: auto; /* コンテナの中央寄せ */
    justify-content: center; /* タブの中央寄せ */
    gap: 12px; /* タブ間の余白 */
}

    /* 各タブボタンの設定 */
    /*.tab-switchSub > label {
    flex: 1 1 auto;*/ /* タブが均等に幅をとるが、幅を超えると折り返す */
    /*order: -1;*/ /* 上部に表示する */
    /*position: absolute;*/ /* 絶対位置指定用の基準 */
    /*padding: .7em 1em;*/ /* 上下左右の内側余白 */
    /*background-color: #f2f3f4;*/ /* 背景色 */
    /*color: #999;*/ /* 文字色 */
    /*text-align: center;*/ /* 文字を中央揃え */
    /*cursor: pointer;*/ /* ポインターを指アイコンに変更 */

    /*border-radius: 45px;*/ /* 角の丸み */
    /*}*/
    /* 各タブボタンの設定 */
    .tab-switchSub2 > label {
        flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
        order: -1; /* 上部に表示する */
        position: relative; /* 絶対位置指定用の基準 */
        /*padding: .5em 1em;*/ /* 上下左右の内側余白 */
        padding: .1em 0.2em; /* 上下左右の内側余白 */
        /*background-color: rgb(250, 200, 30, 1);*/ /* 背景色 */
        background: url('./assets/img/circlen/starback_2.png') repeat center center;
        background-blend-mode: overlay; /* 混ぜ合わせのモード */

        background-size: 300% auto;
        font-size: 1.5vh;
        font-weight: 900;
        /*color: rgb(240, 240, 240, 0.9);*/ /* 文字色 */
        color: rgb(50, 50, 60, 1); /* 文字色 */
        text-align: center; /* 文字を中央揃え */
        cursor: pointer; /* ポインターを指アイコンに変更 */

        text-shadow: +3px +0.0px 0px rgb(240, 240, 240, 1.0), -3px +0.0px 0px rgb(240, 240, 240, 1.0), +0.0px +3px 0px rgb(240, 240, 240, 1.0), +0.0px -3px 0px rgb(240, 240, 240, 1.0), +3px +3px 0px rgb(240, 240, 240, 1.0), -3px +3px 0px rgb(240, 240, 240, 1.0), +3px -3px 0px rgb(240, 240, 240, 1.0), -3px -3px 0px rgb(240, 240, 240, 1.0);
        border: 6px solid rgb(240, 240, 240, 1);
        border-radius: 45px; /* 角の丸み */
    }

    .tab-switchSub2 > label::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        border: 3px solid rgb(50, 50, 60, 1);
        border-radius: 45px; /* 角の丸み */
    }

        /* タブボタンのホバーおよび選択状態のスタイル */
.tab-switchSub2 > label:hover,
/*.tab-switchSub label:has(:checked) {
background-color: #757F96;*/ /* ホバー/選択時の背景色 */
/*color: #fff;*/ /* ホバー/選択時の文字色 */
/*}*/
.tab-switchSub2 label:has(:checked) {
    /*background-color: rgb(250, 250, 130, 1);*/ /* 背景色 */
    background-color: rgb(160, 160, 160, 1); /* 背景色 */
    /*color: rgb(60, 40, 0, 0.9);*/ /* 文字色 */
}

@keyframes tabSwitchSub2In_Pos {
    0% {
        transform: translateY(4%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(4%);
    }
}

@keyframes tabSwitchSub2In_BgScroll {
    0% {
        background-position: 0 0;
        /*        background-position-x: 0%;
        background-position-y: 0%;*/
    }

    100% {
        background-position: -1980px 1080px;
        /*        background-position-x: 60%;
        background-position-y: -60%;*/
    }
}

.tab-switchSub2 label:has(:checked) {
    animation: tabSwitchSub2In_Pos 3s ease-in-out infinite, tabSwitchSub2In_BgScroll 30s linear infinite;
}

/* ラジオボタン自体は非表示 */
.tab-switchSub2 input {
    display: none; /* 見た目に表示されないようにする */
}

/* タブコンテンツのスタイル */
.tab-switchSub2 > div {
    position: absolute; /* 絶対位置指定用の基準 */
    display: none; /* 初期状態では非表示 */
    width: 100%; /* コンテンツ幅を全体に */
    padding: 3em 1em; /* 内側余白 */
}

/* 選択されたタブのコンテンツを表示 */
.tab-switchSub2 label:has(:checked) + div {
    display: block; /* 選択されたタブに対応するコンテンツを表示 */
}


.tab-switchSub2_parent {
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
}
.tab-switchSub2_parent {
    left: 2%;
}
.tab-switchSub2_bg {
    display: block;
}
.tab-switchSub2_Contents {
    top: 10%;
}






.tab-switchMainLabel {
    position: absolute;
    bottom: 10%;
}
.tab-switchMainInput {
    position: absolute;
    bottom: 10%;
}
.tab-content {
    display: none;
    top: 10%;
}
.tab-contentText {
    /*    position: absolute;
    top: 1%;
    left: 1%;*/
    /*height: 70%;*/
    /*width: calc(100% - 160px -100px);*/
    /*background-color: rgb(250, 250, 250, 0.85); */
    /*background-color: rgb(180, 180, 180, 0.8);*/
    background-color: rgb(160, 160, 160, 0.5);
    font-family: textGame;
    /*border: 2px solid #757F96;*/
    border: 4px solid rgb(250, 250, 250);
    border-radius: 25px; /* 角の丸み */
    padding: 13px;
    font-weight: 900;
    color: rgb(0, 30, 30, 1);
    text-shadow: 
        +3px +0.0px 0px rgb(230, 230, 240, 1), 
        -3px +0.0px 0px rgb(230, 230, 240, 1),
        +0.0px +3px 0px rgb(230, 230, 240, 1), 
        +0.0px -3px 0px rgb(230, 230, 240, 1),
        +3px +3px 0px rgb(230, 230, 240, 1), 
        -3px +3px 0px rgb(230, 230, 240, 1),
        +3px -3px 0px rgb(230, 230, 240, 1),
        -3px -3px 0px rgb(230, 230, 240, 1);
}
.tab-contentText {
    position: relative;
    left: 5vw;
    top: -1vh;
    width: 80vw;
}

.tab-contentTextTitle {
    /*text-align: center;*/ /* 水平中央寄せ */
    /*background: url('./assets/img/circlen/label.png') no-repeat center center;*/
    text-align: left; /* 水平中央寄せ */
    background: url('./assets/img/circlen/label.png') no-repeat;
    left: 16vw;
   /* padding: .5em 1em;*/ /* 上下左右の内側余白 */
    padding: .5em 2em; /* 上下左右の内側余白 */
    width: auto;
    background-size: contain; /* 背景を文字のサイズに合わせて調整 */
    color: rgb(230, 230, 240, 1);
    font-family: textName;
    font-weight: 900;
    text-shadow: 
        +2.0px +0.0px 0px rgb(30, 120, 240, 1),
        -2.0px +0.0px 0px rgb(30, 120, 240, 1), 
        +0.0px +2.0px 0px rgb(30, 120, 240, 1),
        +0.0px -2.0px 0px rgb(30, 120, 240, 1),
        +2.0px +2.0px 0px rgb(30, 120, 240, 1),
        -2.0px +2.0px 0px rgb(30, 120, 240, 1),
        +2.0px -2.0px 0px rgb(30, 120, 240, 1),
        -2.0px -2.0px 0px rgb(30, 120, 240, 1)
    ;
}
.flex-container {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
}

@keyframes posterIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes Title2_Logo_Z {
    0% {
        transform: translateX(-77%) translateY(-52%) rotate(0deg);
    }

    95% {
        transform: translateX(-77%) translateY(-52%) rotate(-1080deg);
    }

    100% {
        transform: translateX(-77%) translateY(-52%) rotate(-1440deg);
    }
}

@keyframes TitleInPlay {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}
@keyframes btnInPlay {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}


@keyframes creditTitileIn {
    0% {
        transform: translateX(-200%);
       /* transform: scale(0.01f);*/
    }

    100% {
        transform: translateX(0%);
        /*transform: scale(1.0);*/
    }
}
@keyframes creditConteIn {
    0% {
        transform: translateX(200%);
        /* transform: scale(0.01f);*/
    }
    25% {
        transform: translateX(200%);
        /* transform: scale(0.01f);*/
    }

    100% {
        transform: translateX(0%);
        /*transform: scale(1.0);*/
    }
}
.anim_BgInPlay {
    animation: posterIn 0.5s forwards; /* クラスが付与されたときに再生 */
}
.anim_BtnInPlay {
    animation: btnInPlay 1.0s forwards; /* クラスが付与されたときに再生 */
}
.anim_TitleInPlay {
    animation: TitleInPlay 1.0s forwards; /* クラスが付与されたときに再生 */
}
.anim_creditTitleInPlay {
    animation: creditTitileIn 0.4s forwards; /* クラスが付与されたときに再生 */
}
.anim_creditConteInPlay {
    animation: creditConteIn 0.6s forwards; /* クラスが付与されたときに再生 */
}


.inhtml {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 親要素の幅に合わせる */
    height: 100%; /* 親要素の高さに合わせる */
    border: none; /* 余計な枠線を消す */
    overflow: scroll;
    background-color: transparent;
}

/* Webkit系ブラウザ (Chrome, Edge, Safari) */
summary::-webkit-details-marker {
    display: none;
}

/* Firefox用 */
summary {
    list-style: none; /* Firefoxはリストスタイルの設定でアイコンを制御可能 */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none; /* リストマーカーを非表示にする */
}

/* 矢印アイコン */
.tab-contentTextTitleArrow {
    position: relative;
    left: 0;
    top: 0;
    width: 100%; /* 親要素の幅に合わせる */
    height: 10%; /* 親要素の高さに合わせる */
    background: url('./assets/img/circlen/star_tab_off.png') no-repeat;
    background-size: auto 100%;
    background-position-x: 5vw;
}

/* 折りたたみ状態の矢印 */
details[open] .tab-contentTextTitleArrow {
    background: url('./assets/img/circlen/star_tab_on_color.png') no-repeat;
    background-size: auto 100%;
    background-position-x: 5vw;
}

.contentBg {
    /*background: url('./assets/img/circlen/starback_2.png') repeat center center;
    background-blend-mode: overlay;*/ /* 混ぜ合わせのモード */
    /*background-size: auto 10%;*/
    background-color: rgb(0, 0, 0, 0.85);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1000%);
}



.tab-contentText {
    font-size: 2.5vh;
}
.tab-contentTextTitle {
    user-select: none; /* ユーザーによる選択を禁止 */
    -webkit-user-select: none; /* Safari 用 */
    -moz-user-select: none; /* Firefox 用 */
    -ms-user-select: none; /* Internet Explorer 用 */

    font-size: 2.75vh;
}

.titleLogoImg {
    position: absolute;
    /*right: 50%;*/
    /*    width: auto;
    height: 40%;*/
    /* width: 40%;*/
    top: 0%;
    left: 40%;
    /*width: 50vw;*/
    width: 50%;
    height: auto;
}
.titleLogoImgParent {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.titleLogoImgParent {
    top: 28%;
    left: 25%;
}

/* コンテナ */
.slider {
    position: relative;
    overflow: hidden; /* はみ出した部分を隠す */
    /*background: #f0f0f0;*/
    /*    background: url('./assets/img/circlen/starback.png') repeat center center;
    background-size: auto 100%;*/
}
/* 画像をまとめたラッパー */
.slider-track {
    position: absolute;
    top: 30%;
    height: 40%; /* コンテナの高さに合わせる */
    display: flex;
    gap: 12px; /* タブ間の余白 */
    animation: slide 40s linear infinite; /* ループアニメーション */
}

    /* 個々の画像 */
    .slider-track img {
        position: relative;
        width: auto;
        height: calc(100% - 22px); /* コンテナの高さに合わせる */
    }

    .slider-track video {
        position: relative;
        width: auto;
        height: calc(100% - 22px); /* コンテナの高さに合わせる */
    }

/* アニメーション */
@keyframes slide {
    0% {
        transform: translateX(0); /* 初期位置 */
    }

    100% {
        transform: translateX(-50%); /* 左端まで移動 */
    }
}

.slidertop {
    position: absolute;
    top: 75%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
    height: 60%;
}
.topBg {
    opacity: 1;
    display: block;
}
.topBgMini {
    opacity: 0;
    display: none;
}

.tab-switchMain {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 95%;
    height: auto;
    font-size: 4vw;
    padding-bottom: 40%;
}
.tab-switchMain > label {
    width: 25%;
}
.tab-switchSub2 > label {
    flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
    order: -1; /* 上部に表示する */
}

.totoplogo {
    pointer-events: none;
    display: block;
    position: relative;
    width: auto;
    height: 100%;
    overflow: visible;
    left: 50%;
}
.totoplogo:hover {
    top:-5%;
    height: 120%;
}

.totoplogoimg {
    pointer-events: auto;
    width: auto;
    height: 70%;
    transform: translateX(-50%);
}



@media (min-aspect-ratio: 4/3) {
    .totoplogo {
        left: 0%;
        top: 0%;
    }
.totoplogo:hover {
    left:-2%;
    width: 120%;
}
    .totoplogoimg {
        width: 24%;
        height: auto;
        transform: translateX(0%);
    }
    .topBg {
        opacity: 0;
        display: none;
    }
    .topBgMini {
        opacity: 1;
        display: block;
    }

    .slidertop {
        position: absolute;
        top: 90%;
        left: 0;
        transform: translateY(-50%);

        width: 100%;
        height: 55%;
    }


    .titleLogoImgParent {
        width: 55%;
        top: 40%;
        left: 10%;
    }

    .tab-content {
            left: calc(160px);
        }
        /* 矢印アイコン */
        .tab-contentTextTitleArrow {
            background: url('./assets/img/circlen/star_tab_off.png') no-repeat;
            background-size: auto 100%;
            background-position-x: 20vw;
        }

        /* 折りたたみ状態の矢印 */
        details[open] .tab-contentTextTitleArrow {
            background: url('./assets/img/circlen/star_tab_on_color.png') no-repeat;
            background-size: auto 100%;
            background-position-x: 20vw;
        }

        .tab-contentText {
            font-size: 1.75vw;
        }
        .tab-contentTextTitle {
            left: 26vw;
            font-size: 2.0vw;
        }

    .tab-switchMain {
        position: absolute;
        top: 10%;
        left: 25%;
        width: 70%;
        height: auto;
        padding-bottom: 0%;
        font-size: 2.5vw;
    }
    .tab-switchMain > label {
        width: 15%;
    }

        .tab-switchSub2 {
            font-size: 3vh;
            width: auto;
            height: 70%;
            top: 0%;
            font-family: textGame;
            display: flow;
            flex-wrap: wrap; /* 幅に応じて折り返し */
            margin: auto; /* コンテナの中央寄せ */
            justify-content: center; /* タブの中央寄せ */
            gap: 8px; /* タブ間の余白 */
        }
            /* 各タブボタンの設定 */
            .tab-switchSub2 > label {
                flex: 1 1 auto; /* タブが均等に幅をとるが、幅を超えると折り返す */
                order: -1; /* 上部に表示する */
                position: absolute; /* 絶対位置指定用の基準 */
                /*padding: .5em 1em;*/ /* 上下左右の内側余白 */
                padding: .1em 0.5em; /* 上下左右の内側余白 */
                /*background-color: rgb(250, 200, 30, 1);*/ /* 背景色 */
                background: url('./assets/img/circlen/starback_2.png') repeat center center;
                background-blend-mode: overlay; /* 混ぜ合わせのモード */

                background-size: 300% auto;
                font-size: 1.4vw;
                font-weight: 900;
                /*color: rgb(240, 240, 240, 0.9);*/ /* 文字色 */
                color: rgb(50, 50, 60, 1); /* 文字色 */
                text-align: center; /* 文字を中央揃え */
                cursor: pointer; /* ポインターを指アイコンに変更 */

                text-shadow: +3px +0.0px 0px rgb(240, 240, 240, 1.0), -3px +0.0px 0px rgb(240, 240, 240, 1.0), +0.0px +3px 0px rgb(240, 240, 240, 1.0), +0.0px -3px 0px rgb(240, 240, 240, 1.0), +3px +3px 0px rgb(240, 240, 240, 1.0), -3px +3px 0px rgb(240, 240, 240, 1.0), +3px -3px 0px rgb(240, 240, 240, 1.0), -3px -3px 0px rgb(240, 240, 240, 1.0);
                border: 6px solid rgb(240, 240, 240, 1);
                border-radius: 45px; /* 角の丸み */
            }

        .tab-switchSub2_parent {
            left: 1%;
        }

        .tab-switchSub2_bg {
            display: none;
        }

        .tab-contentText .noSubTab {
            position: relative;
            left: 5vw;
            top: -1vh;
            width: 80vw;
        }

        .tab-contentText:not(.noSubTab) {
            position: relative;
            left: 20vw;
            top: -1vh;
            width: 65vw;
        }

        .tab-switchSub2 label:has(:checked) {
            animation: tabSwitchSubIn_Pos 3s ease-in-out infinite, tabSwitchSub2In_BgScroll 30s linear infinite;
        }

        .tab-switchSub2_Contents {
            top: 0%;
        }
    }

    .tab-switchSub2_Contents_Tab {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.tab-switchSub2_Contents_Tab::-webkit-scrollbar {
    display: none; /* Webkitベースのブラウザ (Chrome, Edge, Safari) */
}

.inlineMovie {
    border: 5px solid rgb(30, 120, 240, 1);
    border-radius: 45px; /* 角の丸み */
}
.inlineMovie::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border: 16px solid rgb(240, 240, 240, 1);
    border-radius: 45px; /* 角の丸み */
}
